
// Generic style modifications for the Korp of the Language Bank of
// Finland

// Make the statistics attribute selection list wider, to accommodate
// longer attribute labels
// TODO: Try to make this depend on the length of the labels
.reduce-attr-select {
    width: 250px;
}

// Full-width text in context view
.results_table.reading {
    margin-left: initial;
    p {
        width: 100%;
    }
}
