//- Extension to the Korp about box for the Language Bank of Finland

#about_lbf
  p
    b {{'about_adapt' | loc:lang}}
  i {{'about_man' | loc:lang}}
  ul
    li Krister Lindén
  i {{'about_dev' | loc:lang}}
  ul
    li Jyrki Niemi
    li Martin Matthiesen
    li Jussi Piitulainen
  i {{'about_contributors' | loc:lang}}
  ul
    li Tero Aalto
    li Erik Axelson
    li Ute Dieckmann
    li Pekka Kauppinen
    li Mietta Lennes
    li Aleksi Sahala
