//- Extension to the Korp about box for the Language Bank of Finland

-
  // Generate an attributes object for a link to the research portal
  // of the University of Helsinki
  uHelLinkAttrs = function (name) {
      return {
          href: "https://researchportal.helsinki.fi/{{lang}}/persons/" + name,
          target: "_blank",
      }
  }

#about_lbf
  p
    b {{'about_adapt' | loc:lang}}
  i {{'about_man' | loc:lang}}
  ul
    li
      a&attributes(uHelLinkAttrs("krister-linden")) Krister Lindén
  i {{'about_dev' | loc:lang}}
  ul
    li
      a&attributes(uHelLinkAttrs("jyrki-niemi")) Jyrki Niemi
    li Martin Matthiesen
    li
      a&attributes(uHelLinkAttrs("jussi-piitulainen")) Jussi Piitulainen
  i {{'about_contributors' | loc:lang}}
  ul
    li Tero Aalto
    li
      a&attributes(uHelLinkAttrs("erik-axelson")) Erik Axelson
    li Ute Dieckmann
    li Pekka Kauppinen
    li
      a&attributes(uHelLinkAttrs("mietta-lennes")) Mietta Lennes
    li
      a&attributes(uHelLinkAttrs("aleksi-sahala")) Aleksi Sahala
